// @tailwind base;

*, *::before, *::after {
    border-width: 0;
    border-style: solid; 
    border-color: #e2e8f0;
    box-sizing: border-box;
}

.reset-underline a:hover {
    text-decoration: none !important;
    outline: 0;
}

.page-edit .last-updated {
    display: none;
}


@tailwind components;

@tailwind utilities;